---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mi"
	description="CONOCEME"
	pubDate={new Date('Octubre 11 2024')}
>

<p>
	A mis 15 años de edad, he logrado combinar pasión, disciplina y curiosidad para convertirme en programador, desarrollador web, DevOps, y hacker ético. Mi enfoque principal está en encontrar soluciones eficientes y elegantes a problemas complejos. He trabajado con diversas tecnologías y frameworks, desde la creación de páginas web hasta la implementación de infraestructuras seguras.
</p>

<p>
	Con el tiempo, he podido formar parte de proyectos colaborativos de gran envergadura, algunos de ellos en Google, lo que me ha permitido pulir mis habilidades técnicas y aprender a enfrentar desafíos reales en entornos de alta exigencia. Cada línea de código que escribo está orientada a la optimización, seguridad y escalabilidad, siempre persiguiendo la mejora continua.
</p>

<p>
	Mi enfoque en DevOps me ha permitido comprender el ciclo completo de desarrollo de software, desde la planificación y construcción, hasta el despliegue y mantenimiento. Soy un firme defensor de la automatización, el uso eficiente de los recursos y la implementación de prácticas seguras en cada fase del desarrollo.
</p>

<p>
	Además de mi interés por la programación y el desarrollo web, también me apasiona el hacking ético. Siempre estoy investigando y aprendiendo sobre ciberseguridad, encontrando nuevas maneras de proteger sistemas y fortalecer infraestructuras. Mi objetivo es contribuir al mundo digital de manera responsable, asegurando que el software que desarrollamos sea tanto innovador como seguro.
</p>

<p>
	Cada proyecto en el que colaboro no solo me impulsa a aprender más, sino también a compartir mi conocimiento con la comunidad de desarrolladores. Con una mentalidad de aprendizaje continuo, me esfuerzo por ser un profesional que no solo construye, sino que también inspira y lidera en el ámbito tecnológico.
</p>

</Layout>
